body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  height: 100vh;
  overflow: hidden;
  display: flex;
  font-family: "Anton", sans-serif;
  justify-content: center;
  align-items: center;
}

.night {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(45deg);
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
          animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.shooting_star::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
  transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
  top: calc(50% - -188px);
  left: calc(50% - 218px);
  -webkit-animation-delay: 3204ms;
          animation-delay: 3204ms;
}
.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
  -webkit-animation-delay: 3204ms;
          animation-delay: 3204ms;
}
.shooting_star:nth-child(2) {
  top: calc(50% - -110px);
  left: calc(50% - 42px);
  -webkit-animation-delay: 6383ms;
          animation-delay: 6383ms;
}
.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
  -webkit-animation-delay: 6383ms;
          animation-delay: 6383ms;
}
.shooting_star:nth-child(3) {
  top: calc(50% - 62px);
  left: calc(50% - 120px);
  -webkit-animation-delay: 5548ms;
          animation-delay: 5548ms;
}
.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
  -webkit-animation-delay: 5548ms;
          animation-delay: 5548ms;
}
.shooting_star:nth-child(4) {
  top: calc(50% - 62px);
  left: calc(50% - 107px);
  -webkit-animation-delay: 1743ms;
          animation-delay: 1743ms;
}
.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
  -webkit-animation-delay: 1743ms;
          animation-delay: 1743ms;
}
.shooting_star:nth-child(5) {
  top: calc(50% - -79px);
  left: calc(50% - 190px);
  -webkit-animation-delay: 9993ms;
          animation-delay: 9993ms;
}
.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after {
  -webkit-animation-delay: 9993ms;
          animation-delay: 9993ms;
}
.shooting_star:nth-child(6) {
  top: calc(50% - 137px);
  left: calc(50% - 201px);
  -webkit-animation-delay: 5809ms;
          animation-delay: 5809ms;
}
.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after {
  -webkit-animation-delay: 5809ms;
          animation-delay: 5809ms;
}
.shooting_star:nth-child(7) {
  top: calc(50% - -85px);
  left: calc(50% - 243px);
  -webkit-animation-delay: 8320ms;
          animation-delay: 8320ms;
}
.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after {
  -webkit-animation-delay: 8320ms;
          animation-delay: 8320ms;
}
.shooting_star:nth-child(8) {
  top: calc(50% - 111px);
  left: calc(50% - 123px);
  -webkit-animation-delay: 4189ms;
          animation-delay: 4189ms;
}
.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after {
  -webkit-animation-delay: 4189ms;
          animation-delay: 4189ms;
}
.shooting_star:nth-child(9) {
  top: calc(50% - -185px);
  left: calc(50% - 267px);
  -webkit-animation-delay: 8183ms;
          animation-delay: 8183ms;
}
.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after {
  -webkit-animation-delay: 8183ms;
          animation-delay: 8183ms;
}
.shooting_star:nth-child(10) {
  top: calc(50% - -130px);
  left: calc(50% - 280px);
  -webkit-animation-delay: 5950ms;
          animation-delay: 5950ms;
}
.shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after {
  -webkit-animation-delay: 5950ms;
          animation-delay: 5950ms;
}
.shooting_star:nth-child(11) {
  top: calc(50% - 40px);
  left: calc(50% - 284px);
  -webkit-animation-delay: 5888ms;
          animation-delay: 5888ms;
}
.shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after {
  -webkit-animation-delay: 5888ms;
          animation-delay: 5888ms;
}
.shooting_star:nth-child(12) {
  top: calc(50% - -110px);
  left: calc(50% - 127px);
  -webkit-animation-delay: 1254ms;
          animation-delay: 1254ms;
}
.shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after {
  -webkit-animation-delay: 1254ms;
          animation-delay: 1254ms;
}
.shooting_star:nth-child(13) {
  top: calc(50% - -115px);
  left: calc(50% - 293px);
  -webkit-animation-delay: 1876ms;
          animation-delay: 1876ms;
}
.shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after {
  -webkit-animation-delay: 1876ms;
          animation-delay: 1876ms;
}
.shooting_star:nth-child(14) {
  top: calc(50% - -65px);
  left: calc(50% - 169px);
  -webkit-animation-delay: 5091ms;
          animation-delay: 5091ms;
}
.shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after {
  -webkit-animation-delay: 5091ms;
          animation-delay: 5091ms;
}
.shooting_star:nth-child(15) {
  top: calc(50% - -193px);
  left: calc(50% - 144px);
  -webkit-animation-delay: 6277ms;
          animation-delay: 6277ms;
}
.shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after {
  -webkit-animation-delay: 6277ms;
          animation-delay: 6277ms;
}
.shooting_star:nth-child(16) {
  top: calc(50% - 68px);
  left: calc(50% - 221px);
  -webkit-animation-delay: 3115ms;
          animation-delay: 3115ms;
}
.shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after {
  -webkit-animation-delay: 3115ms;
          animation-delay: 3115ms;
}
.shooting_star:nth-child(17) {
  top: calc(50% - -83px);
  left: calc(50% - 184px);
  -webkit-animation-delay: 5724ms;
          animation-delay: 5724ms;
}
.shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after {
  -webkit-animation-delay: 5724ms;
          animation-delay: 5724ms;
}
.shooting_star:nth-child(18) {
  top: calc(50% - -17px);
  left: calc(50% - 256px);
  -webkit-animation-delay: 8365ms;
          animation-delay: 8365ms;
}
.shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after {
  -webkit-animation-delay: 8365ms;
          animation-delay: 8365ms;
}
.shooting_star:nth-child(19) {
  top: calc(50% - 12px);
  left: calc(50% - 252px);
  -webkit-animation-delay: 2104ms;
          animation-delay: 2104ms;
}
.shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after {
  -webkit-animation-delay: 2104ms;
          animation-delay: 2104ms;
}
.shooting_star:nth-child(20) {
  top: calc(50% - 9px);
  left: calc(50% - 252px);
  -webkit-animation-delay: 5433ms;
          animation-delay: 5433ms;
}
.shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after {
  -webkit-animation-delay: 5433ms;
          animation-delay: 5433ms;
}

@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@-webkit-keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}