<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/error/star.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/error/error.css' %}">
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
</head>
<body>
<div class="night div1">
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
</div>
<div class="error-page div2">
  <div>
    <!--h1(data-h1='400') 400-->
    <!--p(data-p='BAD REQUEST') BAD REQUEST-->
    <!--h1(data-h1='401') 401-->
    <!--p(data-p='UNAUTHORIZED') UNAUTHORIZED-->
    <!--h1(data-h1='403') 403-->
    <!--p(data-p='FORBIDDEN') FORBIDDEN-->
    <h1 data-h1="404">404</h1>
    <p data-p="NOT FOUND">NOT FOUND</p>
    <!--h1(data-h1='500') 500-->
    <!--p(data-p='SERVER ERROR') SERVER ERROR-->
  </div>
</div>
<a href="{% url 'index' %}" class="back">Accueil</a>
<script src="{% static 'js/error/error.js' %}"></script>
</body>
<style>
    /* CODE CSS (static/style/error/star.css) */
    body {
        background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
        height: 100vh;
        overflow: hidden;
        display: flex;
        font-family: "Anton", sans-serif;
        justify-content: center;
        align-items: center;
    }

    .night {
        position: relative;
        width: 100%;
        height: 100%;
        transform: rotateZ(45deg);
    }

    .shooting_star {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 2px;
        background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
        border-radius: 999px;
        filter: drop-shadow(0 0 6px #699bff);
        -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
        animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
    }

    .shooting_star::before {
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        right: 0;
        height: 2px;
        background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
        transform: translateX(50%) rotateZ(45deg);
        border-radius: 100%;
        -webkit-animation: shining 3000ms ease-in-out infinite;
        animation: shining 3000ms ease-in-out infinite;
    }

    .shooting_star::after {
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        right: 0;
        height: 2px;
        background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
        transform: translateX(50%) rotateZ(45deg);
        border-radius: 100%;
        -webkit-animation: shining 3000ms ease-in-out infinite;
        animation: shining 3000ms ease-in-out infinite;
        transform: translateX(50%) rotateZ(-45deg);
    }

    .shooting_star:nth-child(1) {
        top: calc(50% - -188px);
        left: calc(50% - 218px);
        -webkit-animation-delay: 3204ms;
        animation-delay: 3204ms;
    }

    .shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
        -webkit-animation-delay: 3204ms;
        animation-delay: 3204ms;
    }

    .shooting_star:nth-child(2) {
        top: calc(50% - -110px);
        left: calc(50% - 42px);
        -webkit-animation-delay: 6383ms;
        animation-delay: 6383ms;
    }

    .shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
        -webkit-animation-delay: 6383ms;
        animation-delay: 6383ms;
    }

    .shooting_star:nth-child(3) {
        top: calc(50% - 62px);
        left: calc(50% - 120px);
        -webkit-animation-delay: 5548ms;
        animation-delay: 5548ms;
    }

    .shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
        -webkit-animation-delay: 5548ms;
        animation-delay: 5548ms;
    }

    .shooting_star:nth-child(4) {
        top: calc(50% - 62px);
        left: calc(50% - 107px);
        -webkit-animation-delay: 1743ms;
        animation-delay: 1743ms;
    }

    .shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
        -webkit-animation-delay: 1743ms;
        animation-delay: 1743ms;
    }

    .shooting_star:nth-child(5) {
        top: calc(50% - -79px);
        left: calc(50% - 190px);
        -webkit-animation-delay: 9993ms;
        animation-delay: 9993ms;
    }

    .shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after {
        -webkit-animation-delay: 9993ms;
        animation-delay: 9993ms;
    }

    .shooting_star:nth-child(6) {
        top: calc(50% - 137px);
        left: calc(50% - 201px);
        -webkit-animation-delay: 5809ms;
        animation-delay: 5809ms;
    }

    .shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after {
        -webkit-animation-delay: 5809ms;
        animation-delay: 5809ms;
    }

    .shooting_star:nth-child(7) {
        top: calc(50% - -85px);
        left: calc(50% - 243px);
        -webkit-animation-delay: 8320ms;
        animation-delay: 8320ms;
    }

    .shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after {
        -webkit-animation-delay: 8320ms;
        animation-delay: 8320ms;
    }

    .shooting_star:nth-child(8) {
        top: calc(50% - 111px);
        left: calc(50% - 123px);
        -webkit-animation-delay: 4189ms;
        animation-delay: 4189ms;
    }

    .shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after {
        -webkit-animation-delay: 4189ms;
        animation-delay: 4189ms;
    }

    .shooting_star:nth-child(9) {
        top: calc(50% - -185px);
        left: calc(50% - 267px);
        -webkit-animation-delay: 8183ms;
        animation-delay: 8183ms;
    }

    .shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after {
        -webkit-animation-delay: 8183ms;
        animation-delay: 8183ms;
    }

    .shooting_star:nth-child(10) {
        top: calc(50% - -130px);
        left: calc(50% - 280px);
        -webkit-animation-delay: 5950ms;
        animation-delay: 5950ms;
    }

    .shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after {
        -webkit-animation-delay: 5950ms;
        animation-delay: 5950ms;
    }

    .shooting_star:nth-child(11) {
        top: calc(50% - 40px);
        left: calc(50% - 284px);
        -webkit-animation-delay: 5888ms;
        animation-delay: 5888ms;
    }

    .shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after {
        -webkit-animation-delay: 5888ms;
        animation-delay: 5888ms;
    }

    .shooting_star:nth-child(12) {
        top: calc(50% - -110px);
        left: calc(50% - 127px);
        -webkit-animation-delay: 1254ms;
        animation-delay: 1254ms;
    }

    .shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after {
        -webkit-animation-delay: 1254ms;
        animation-delay: 1254ms;
    }

    .shooting_star:nth-child(13) {
        top: calc(50% - -115px);
        left: calc(50% - 293px);
        -webkit-animation-delay: 1876ms;
        animation-delay: 1876ms;
    }

    .shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after {
        -webkit-animation-delay: 1876ms;
        animation-delay: 1876ms;
    }

    .shooting_star:nth-child(14) {
        top: calc(50% - -65px);
        left: calc(50% - 169px);
        -webkit-animation-delay: 5091ms;
        animation-delay: 5091ms;
    }

    .shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after {
        -webkit-animation-delay: 5091ms;
        animation-delay: 5091ms;
    }

    .shooting_star:nth-child(15) {
        top: calc(50% - -193px);
        left: calc(50% - 144px);
        -webkit-animation-delay: 6277ms;
        animation-delay: 6277ms;
    }

    .shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after {
        -webkit-animation-delay: 6277ms;
        animation-delay: 6277ms;
    }

    .shooting_star:nth-child(16) {
        top: calc(50% - 68px);
        left: calc(50% - 221px);
        -webkit-animation-delay: 3115ms;
        animation-delay: 3115ms;
    }

    .shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after {
        -webkit-animation-delay: 3115ms;
        animation-delay: 3115ms;
    }

    .shooting_star:nth-child(17) {
        top: calc(50% - -83px);
        left: calc(50% - 184px);
        -webkit-animation-delay: 5724ms;
        animation-delay: 5724ms;
    }

    .shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after {
        -webkit-animation-delay: 5724ms;
        animation-delay: 5724ms;
    }

    .shooting_star:nth-child(18) {
        top: calc(50% - -17px);
        left: calc(50% - 256px);
        -webkit-animation-delay: 8365ms;
        animation-delay: 8365ms;
    }

    .shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after {
        -webkit-animation-delay: 8365ms;
        animation-delay: 8365ms;
    }

    .shooting_star:nth-child(19) {
        top: calc(50% - 12px);
        left: calc(50% - 252px);
        -webkit-animation-delay: 2104ms;
        animation-delay: 2104ms;
    }

    .shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after {
        -webkit-animation-delay: 2104ms;
        animation-delay: 2104ms;
    }

    .shooting_star:nth-child(20) {
        top: calc(50% - 9px);
        left: calc(50% - 252px);
        -webkit-animation-delay: 5433ms;
        animation-delay: 5433ms;
    }

    .shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after {
        -webkit-animation-delay: 5433ms;
        animation-delay: 5433ms;
    }

    @-webkit-keyframes tail {
        0% {
            width: 0;
        }
        30% {
            width: 100px;
        }
        100% {
            width: 0;
        }
    }

    @keyframes tail {
        0% {
            width: 0;
        }
        30% {
            width: 100px;
        }
        100% {
            width: 0;
        }
    }

    @-webkit-keyframes shining {
        0% {
            width: 0;
        }
        50% {
            width: 30px;
        }
        100% {
            width: 0;
        }
    }

    @keyframes shining {
        0% {
            width: 0;
        }
        50% {
            width: 30px;
        }
        100% {
            width: 0;
        }
    }

    @-webkit-keyframes shooting {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(300px);
        }
    }

    @keyframes shooting {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(300px);
        }
    }

    @-webkit-keyframes sky {
        0% {
            transform: rotate(45deg);
        }
        100% {
            transform: rotate(405deg);
        }
    }

    @keyframes sky {
        0% {
            transform: rotate(45deg);
        }
        100% {
            transform: rotate(405deg);
        }
    }

    /* CODE CSS (static/style/error/error.css) */

    .error-page {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .error-page h1 {
        font-size: 30vh;
        font-weight: bold;
        position: relative;
        margin: -8vh 0 0;
        padding: 0;
    }

    .error-page h1:after {
        content: attr(data-h1);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        color: transparent;
        /* webkit only for graceful degradation to IE */
        background: -webkit-repeating-linear-gradient(-45deg, #71b7e6, #69a6ce, #b98acc, #ee8176, #b98acc, #69a6ce, #9b59b6);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
        animation: animateTextBackground 10s ease-in-out infinite;
    }

    .error-page h1 + p {
        color: #d6d6d6;
        font-size: 8vh;
        font-weight: bold;
        line-height: 10vh;
        max-width: 600px;
        position: relative;
    }

    .error-page h1 + p:after {
        content: attr(data-p);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        color: transparent;
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
    }

    #particles-js {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    @keyframes animateTextBackground {
        0% {
            background-position: 0 0;
        }
        25% {
            background-position: 100% 0;
        }
        50% {
            background-position: 100% 100%;
        }
        75% {
            background-position: 0 100%;
        }
        100% {
            background-position: 0 0;
        }
    }

    @media (max-width: 767px) {
        .error-page h1 {
            font-size: 32vw;
        }

        .error-page h1 + p {
            font-size: 8vw;
            line-height: 10vw;
            max-width: 70vw;
        }
    }

    a.back {
        position: fixed;
        right: 40px;
        bottom: 40px;
        background: -webkit-repeating-linear-gradient(-45deg, #71b7e6, #69a6ce, #b98acc, #ee8176);
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;
        padding: 15px 30px;
        text-decoration: none;
        transition: 0.25s all ease-in-out;
    }

    a.back:hover {
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    }

    /* DIV */
    .div1 {
	position: absolute;
	overflow: hidden;
	top: 10px;
	left: 0px;
	right: 0px;
	width: 50%;
	height: 65%;
	min-width: 100px;
	min-height: 200px;
	max-width: 200px;
	max-height: 300px;
	margin: 0 auto;
}

.div2 {
    position: relative;
	display: table;
	top: 25%;
	padding: 0px;
	margin: 0 auto;
	visibility: visible;
}
</style>
<script>
    particlesJS("particles-js", {
        "particles": {
            "number": {
                "value": 5,
                "density": {
                    "enable": true,
                    "value_area": 800
                }
            },
            "color": {
                "value": "#fcfcfc"
            },
            "shape": {
                "type": "circle",
            },
            "opacity": {
                "value": 0.5,
                "random": true,
                "anim": {
                    "enable": false,
                    "speed": 1,
                    "opacity_min": 0.2,
                    "sync": false
                }
            },
            "size": {
                "value": 140,
                "random": false,
                "anim": {
                    "enable": true,
                    "speed": 10,
                    "size_min": 40,
                    "sync": false
                }
            },
            "line_linked": {
                "enable": false,
            },
            "move": {
                "enable": true,
                "speed": 8,
                "direction": "none",
                "random": false,
                "straight": false,
                "out_mode": "out",
                "bounce": false,
                "attract": {
                    "enable": false,
                    "rotateX": 600,
                    "rotateY": 1200
                }
            }
        },
        "interactivity": {
            "detect_on": "canvas",
            "events": {
                "onhover": {
                    "enable": false
                },
                "onclick": {
                    "enable": false
                },
                "resize": true
            }
        },
        "retina_detect": true
    });
</script>
</html>