{% extends 'base.html' %}

{% block title %}dataError{% endblock %}

{% block content %}
    <div style="min-height: 55vh;">
       <h1 class="text-center mb-5 mt-5">Aucune information sur le concours n'a été saisie pour le moment</h1>
    </div>
{% endblock %}