{% extends 'base.html' %}

{% block title %}Compte activer{% endblock %}

{% block content %}
    <div class="min-vh-100">
        <h1 class="text-center mb-5 mt-5">Votre compte est créer vous pouvez maintenant vous connecter</h1>
    </div>
{% endblock %}