{% extends 'base.html' %}

{% block title %}Compte en cours d'activation{% endblock %}

{% block content %}
    <div class="min-vh-100">
        <h1 class="text-center mb-5 mt-5">Merci de regarder votre boîte mail pour valider votre compte</h1>
    </div>
{% endblock %}