{% extends 'base.html' %}

{% block title %}Connexion{% endblock %}

{% block content %}
    <div style="min-height: 55vh;">
        <div class="card border-primary mb- mx-auto mt-5" style="max-width: 20rem;">
            <div class="card-body">
                <h1 class="card-title">Connexion</h1>
                <form method="post">
                    <fieldset>
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_username" class="form-label mt-4">Nom d'utilisateur [*]</label>
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            <label for="id_password" class="form-label mt-4">Mot de passe [*]</label>
                            {{ form.password }}
                        </div>
                        <button type="submit" class="btn btn-primary mt-4">Envoyer</button>
                    </fieldset>
                </form>
                <a href="{% url 'password_reset' %}" class="card-link">Mot de passe oublié ?</a>
            </div>
        </div>
    </div>
{% endblock %}