{% extends 'base.html' %}
{% load bootstrap_icons %}
{% block title %}Inscription{% endblock %}

{% block content %}
    <div style="min-height: 55vh;">
        <div class="card border-primary mb- mx-auto mt-5" style="max-width: 40rem;">
            <div class="card-body mx-auto">
                <h1 class="card-title">Inscription</h1>
                <form method="post">
                    <fieldset>
                        {% csrf_token %}
                        <div class="row row-cols-lg-auto g-3">
                            <div class="form-group col">
                                <label for="id_email" class="form-label mt-4">Email [*]</label>
                                {{ form.email }}
                            </div>
                            <div class="form-group has-danger">
                                <label for="id_username" class="form-label mt-4">Pseudo [*]</label>
                                {{ form.username }}
                                <div class="invalid-feedback">Sorry, that username's taken. Try another?</div>
                            </div>
                        </div>

                        <div class="row row-cols-lg-auto g-3">
                            <div class="form-group">
                                <label for="id_first_name" class="form-label mt-4">Prenom [*]</label>
                                {{ form.first_name }}
                            </div>
                            <div class="form-group">
                                <label for="id_last_name" class="form-label mt-4">Nom [*]</label>
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="row row-cols-lg-auto g-3 mb-3">
                            <div class="form-group">
                                <label for="id_pasword1" class="form-label mt-4">Mot de passe [*]</label>
                                <div class="input-group">
                                    {{ form.password1 }}
                                    <button type="button" class="btn btn-outline-default waves-effect" id="id_pasword2"
                                            onclick="TogglePassword('id_password1')">{% bs_icon 'eye' %}</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_pasword2" class="form-label mt-4">Confirmation mot de passe [*]</label>
                                <div class="input-group">
                                    {{ form.password2 }}
                                    <button type="button" class="btn btn-outline-default waves-effect" id="id_pasword2"
                                            onclick="TogglePassword('id_password2')">{% bs_icon 'eye' extra_classes="id_pasword2_icon" %}</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_consentement" class="form-label mt-4">J'accepte les conditions d'utilisation [*]</label>
                                {{ form.consentement }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mt-4 mx-auto">Envoyer</button>
                    </fieldset>
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}