{% extends 'base.html' %}

{% block title %}Gestionnaire{% endblock %}

{% block content %}
    <div style="min-height: 55vh;">
        {% if data.classement_generer == 1 %}
            <table class="table table-hover mt-5">
                <thead>
                <tr>
                    <th scope="col">Place</th>
                    <th scope="col">Titre de la réalisation</th>
                    <th scope="col">Description de la réalisation</th>
                    <th scope="col">Nombre de G'aime</th>
                    <th scope="col">Auteur de la réalisation</th>
                </tr>
                </thead>
                <tbody>
                {% for i in classement %}
                    {% for j in i %}
                        <tr class="table-light">
                            <th scope="row">{{ j.0 }}</th>
                            <td>{{ j.1 }}</td>
                            <td>{{ j.2 }}</td>
                            <td>{{ j.4 }}</td>
                            <td>{{ j.5 }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if date_now < fin_vote %}
            <h1 class="text-center mb-5 mt-5">La période de vote n'est pas terminé.</h1>
        {% elif fin_vote != '' and data.classement_publique == 0 %}
            <form action="{% url 'manager' %}" method="post">
                {% csrf_token %}
                <div class="btn-group" role="group">
                    <button type="submit" name='manager_classement' value="generate" class="btn btn-primary">Génerer le
                        classement
                    </button>
                    <button type="submit" name='manager_classement' value="publish" class="btn btn-primary">Publier le
                        classement
                    </button>
                </div>
            </form>
        {% elif  data.classement_publique == 1 %}
            <h1 class="text-center mb-5 mt-5">Le classement est publique</h1>
        {% endif %}
        <div class="card border-primary mt-5 mx-auto" style="max-width: 40rem;">
            <div class="card-body">
                <h4 class="card-title text-center">Formulaire de gestion des paramètre</h4>
                <form method="post" enctype="multipart/form-data" data-bitwarden-watching="1">
                    <fieldset>
                        {% csrf_token %}
                        <div class="row row-cols-lg-auto g-3">
                            <div class="form-group col">
                                <label for="id_debut_participation" class="form-label mt-4">Debut des participations</label>
                                {{ dataForm.debut_participation }}
                            </div>
                            <div class="form-group has-danger">
                                <label for="id_fin_participation" class="form-label mt-4">Fin des participations</label>
                                {{ dataForm.fin_participation }}
                            </div>
                        </div>
                        <div class="row row-cols-lg-auto g-3">
                            <div class="form-group col">
                                <label for="id_debut_vote" class="form-label mt-4">Debut des votes</label>
                                {{ dataForm.debut_vote }}
                            </div>
                            <div class="form-group has-danger">
                                <label for="id_fin_vote" class="form-label mt-4">Fin des votes</label>
                                {{ dataForm.fin_vote }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_reglement" class="form-label mt-4">Reglement</label>
                            {{ dataForm.reglement }}
                        </div>
                        <button type="submit" class="btn btn-primary mt-4">Envoyer</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}