<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>{% block title %}l{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style/bootstrap.min.css' %}">
    <script src="{% static 'script/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'script/togglePassword.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">Gedima'gination Concours 2022</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
                    aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'index' %}">Accueil
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'participation' %}">Participer</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'classement' %}">Classement</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                    <p class="pt-3">Bienvenue {{ user.first_name }} {{ user.last_name }}</p>
                    <div class="btn-group ml-3" role="group" aria-label="">
                        <a href="{% url 'user' %}"><button type="button" class="btn btn-primary">Mon compte</button></a>
                        <div class="btn-group dropstart" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                                {% if user.is_superuser %}
                                    <a class="dropdown-item" href="{% url 'manager' %}">Gestionnaire</a>
                                    <a class="dropdown-item" href="{% url 'admin:index' %}">Administration</a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url 'password_change' %}">Changer de mot de passe</a>
                                <a class="dropdown-item" href="{% url 'logout' %}">Déconnexion</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'login' %}">
                        <button class="btn btn-secondary my-2 my-sm-0">Connexion</button>
                    </a>
                    <a href="{% url 'register' %}">
                        <button class="btn btn-secondary my-2 my-sm-0">Inscription</button>
                    </a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
<!-- https://mdbootstrap.com/docs/standard/navigation/footer/ -->
<footer class="text-center text-lg-start bg-light text-muted">
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Gedimat
                    </h6>
                    <p>
                        lacus laoreet non curabitur gravida arcu ac tortor dignissim convallis aenean
                        et tortor at risus viverra adipiscing at in tellus
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Informations
                    </h6>
                    <p>
                        <a href="{% url 'reglement' %}" class="text-reset">Reglement</a>
                    </p>
                    <p>
                        <a href="{% url 'contact' %}" class="text-reset">Contact</a>
                    </p>

                </div>

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        info@example.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                    <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://enzo-laurence.tech/">Enzo Laurence</a>
    </div>
    <!-- Copyright -->
</footer>
</body>
</html>