{% extends 'base.html' %}
{% load static %}
{% block title %}Gestionnaire{% endblock %}

{% block content %}
    <div class="min-vh-100">
        {% if date_now < fin_vote %}
            <h1 class="text-center mb-5 mt-5">La période de vote n'est pas terminé.</h1>
        {% elif data.classement_publique == 1 %}
            <table class="table table-hover mt-5 ml-5 mr-5">
                <thead>
                <tr>
                    <th scope="col">Place</th>
                    <th scope="col">Titre de la réalisation</th>
                    <th scope="col">Description de la réalisation</th>
                    <th scope="col">Image de la participation</th>
                    <th scope="col">Nombre de G'aime</th>
                    <th scope="col">Auteur de la réalisation</th>
                </tr>
                </thead>
                <tbody>
                {% for i in classement %}
                    {% for j in i %}
                        <tr class="table-light">
                            <th scope="row">{{ j.0 }}</th>
                            <td>{{ j.1 }}</td>
                            <td>{{ j.2 }}</td>
                            <td><img src="{% static 'images/participation/' %}{{ j.3 }}" style="max-width:10vw; max-height: 10vh"></td>
                            <td>{{ j.4 }}</td>
                            <td>{{ j.5 }}</td>
                            <td>{{ j.6 }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h1 class="text-center mb-5 mt-5">Le classement n'a pas encore été géneré</h1>
        {% endif %}
    </div>
{% endblock %}