{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <div style="min-height: 55vh;">
        <div class="card border-primary mt-5 mx-auto" style="max-width: 40rem;">
            <h1 class="text-center mb-5 mt-5">Contact</h1>
            <div class="card border-primary mb- mx-auto" style="max-width: 40rem;">
                <div class="card-body mx-auto">
                    <h4 class="card-title"></h4>
                    <form method="post">
                        <fieldset>
                            {% csrf_token %}
                            <div class="row row-cols-lg-auto g-3">
                                <div class="form-group col">
                                    <label for="id_full_name" class="form-label mt-4">Nom et Prénom</label>
                                    {{ form.full_name }}
                                </div>
                                <div class="form-group has-danger">
                                    <label for="id_email" class="form-label mt-4">Email</label>
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="row row-cols-lg-auto g-3">
                                <div class="form-group">
                                    <label for="id_message" class="form-label mt-4">Message</label>
                                    {{ form.message }}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mt-4 mx-auto">Envoyer</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}