{% extends 'base.html' %}
{% load has_group %}
{% block title %}Accueil{% endblock %}

{% block content %}
    <div style="min-height: 60vh;">
        <div class="modal-body row">
            <div class="col-md-6">
                <div class="card border-primary mb- mx-auto mt-5" style="max-width: 40rem;">
                    <div class="card-body mx-auto">
                        {% if user.is_authenticated %}
                            <h2 class="card-title">Bienvenue {{ user.first_name }} {{ user.last_name }},</h2>
                            {% if user|has_group:"participant" %}
                                <h3 class="card-text">On dirait que vous avez déjà participé.</h3>
                                <p class="card-text">Nous vous remicions de votre participation vous n'avez plus attendre la
                                fin du concours. Une fois celui-ci fini vous pourrez consulter le Classement depuis se même onglet dans
                                la barre de navigation ou bien en cliquant sur le lien suivant <a href="{% url 'classement' %}">Classement</a></p>
                            {% else %}
                                <h3 class="card-text">Pourquoi attendre participer dès maintenant ?</h3>
                                <p class="card-text">Pour ce faire rien de plus simple rendez-vous cliquer sur Participer
                                    ou sur le lien suivant <a href="{% url 'participation' %}">Participer</a> et saisisez
                                les informations demander et voilà !</p>
                            {% endif %}
                        {% else %}
                            <h2 class="card-title">Bienvenue Visiteur,</h2>
                            <h3 class="card-title">Le concours vous intéresse ?</h3>
                            <p class="card-text">Si vous souhaiter vous tenir informer ou participer c'est très simple il
                                vous suffit de vous inscrire en allant sur l'onglet inscription ou en cliquant sur le
                                lien suivant <a href="{% url 'register' %}">Inscription</a> et saisisez
                                les informations demander. Une fois votre compte créer et validé il vous suffit de cliquer
                                sur l'onglet Participer ou sur le lien suivant <a href="{% url 'participation' %}">Participer</a>
                                et de saisir les informations demander et voilà !</p></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Your second column here -->
            </div>
        </div>
    </div>
{% endblock %}