{% extends 'base.html' %}

{% block title %}Participer{% endblock %}

{% block content %}
    <div style="min-height: 55vh;">
        <h1 class="text-center mb-5 mt-5">Participer au concours Gédima'gination 2022</h1>
        {% if date_now < debut_participation or date_now > fin_participation %}
            <div class="card border-primary mb- mx-auto" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Participation fermée</h4>
                    <p class="card-text">La participation au concours est fermée le concours aura lieu du
                        {{ debut_participation }} au {{ fin_participation }}</p>
                </div>
            </div>
        {% elif response == "error" %}
            <div class="card border-primary mb- mx-auto" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Une erreur est survenue</h4>
                    {% if virus == False %}<p class="card-text">Le fichier envoyé a été détecter comme potentiellement
                        malveillant</p>{% endif %}
                    {% if file == False %}
                        <p class="card-text">Une erreur est survenu durant le scan anti-virus</p>{% endif %}
                    {% if data == False %}
                        <p class="card-text">Une erreur est survenu lors de la sauvegarde de l'image</p>{% endif %}
                </div>
            </div>
        {% elif response == "success" %}
            <div class="card border-primary mb- mx-auto" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Merci de votre participation</h4>
                    <p class="card-text">Votre participation a bien été prise en compte</p>
                </div>
            </div>
        {% elif response == "alreadyExist" %}
            <div class="card border-primary mb- mx-auto" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Vous avez déjà participer au concours</h4>
                    <p class="card-text">Une participation est déjà enregistré avec se compte vous pouvez la consulter
                        depuis votre compte</p>
                </div>
            </div>
        {% else %}
            <div class="card border-primary mb- mx-auto" style="max-width: 40rem;">
                <div class="card-body">
                    <h4 class="card-title text-center">Formulaire de participation</h4>
                    <form method="post" enctype="multipart/form-data" data-bitwarden-watching="1">
                        <fieldset>
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_titreRealisation" class="form-label mt-4">Titre [*]</label>
                                {{ fileForm.titreRealisation }}
                            </div>
                            <div class="form-group">
                                <label for="id_descriptionRealisation" class="form-label mt-4">Description [*]</label>
                                {{ fileForm.descriptionRealisation }}
                            </div>
                            <div class="form-group">
                                <label for="id_dateRealisation" class="form-label mt-4">Date de la réalisation [*]</label>
                                {{ fileForm.dateRealisation }}
                            </div>
                            <div class="form-group">
                                <label for="id_photoRealisation" class="form-label mt-4">Photo de la réalisation [*] 4Mo max, jpg,jpeg,png seulement</label>
                                {{ fileForm.photoRealisation }}
                            </div>
                            <div class="form-group">
                                <label for="id_consentement" class="form-label mt-4">En soumettant ce formulaire,
                                    j'accepte que les informations saisies soient exploitées dans le cadre de la participation
                                    au concours Gedima'gination [*]
                                </label>
                                {{ fileForm.consentement }}
                            </div>
                            <button type="submit" class="btn btn-primary mt-4">Envoyer</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
