{% extends 'base.html' %}
{% load static %}
{% block title %}Compte{% endblock %}

{% block content %}
    <div style="min-height: 55vh;">
         <div class="card border-primary mb- mx-auto mt-5" style="max-width: 40rem;">
                <div class="card-body">
                    <h4 class="card-title text-center">Reglement du concours Gédimagination</h4>
                    {% if data.reglement != '' %}
                        <p class="card-text">{% autoescape off %}{{ data.reglement }}{% endautoescape %}</p>
                    {% else %}
                        <p class="card-text">Aucun reglement n'est disponible pour le moment.</p>
                    {% endif %}
                    </form>
                </div>
            </div>
    </div>

<!--
    <span>
    <p><span style="font-weight:bold;">Article 1 : Organisateur du jeu</span> La société NEGOMAT Ce jeu concours
        se déroule du {{ data.debut_participation }} au {{ data.fin_participation }} minuit inclus, dans les conditions prévues au
        présent règlement.
    </p>
    <p><span style="font-weight:bold;">Article 2 : Participation</span> Le jeu est ouvert aux clients de NEGOMAT. Pour
        participer, il suffit de s’inscrire et poster une photo d’une réalisation faite à partir de matériaux achetés chez NEGOMAT.
    </p>
    <p><span style="font-weight:bold;">Article 3 : Annonce du jeu</span> La promotion et les informations relatives à
        l’existence du jeu concours sont assurées via les sites internet LOCALHOST et e-mailing.
    </p>
    <p><span style="font-weight:bold;">Article 4 : Modalités de participation</span>
        <br><span style="font-weight:bold;">4.1</span> Pour participer au jeu (s’inscrire et poster une photo), il faut être client
        chez NEGOMAT, professionnel ou particulier.
        <br><span style="font-weight:bold;">4.2</span>  Pour voter, il faut être client du magasin et avoir effectué un achat le jour
        du vote. Pour cela, un bon pour participer au jeu est remis à chaque client lors de son passage en caisse.
        Sur ce bon, figure un code unique à 12 caractères (Exemple : ACF2 FR77 1SG4) Chaque votant choisit ses trois
        réalisations préférées en attribuant à chacune un nombre de G’aime compris entre 1 et 5.
        <br><span style="font-weight:bold;">4.3</span>Les trois ou plus en cas d'égalité gagnants du jeu concours sont les participants dont la photo a
        récolté le plus grand nombre de G’aime
    </p>
    </span>
-->

{% endblock %}
