{% extends 'base.html' %}
{% load static %}
{% block title %}Compte{% endblock %}

{% block content %}
    <div class="min-vh-100">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-md-4">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="bologna-list" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#informations" role="tab" aria-controls="informations"
                               aria-selected="true">Mes informations</a>
                        </li>
                        <li class="nav-item">
                            {% if participation != "" %}
                                <a class="nav-link" href="#participation" role="tab" aria-controls="participation"
                                   aria-selected="false">Ma participation</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h4 class="card-title"></h4>
                    <h6 class="card-subtitle mb-2"></h6>
                    <div class="tab-content mt-3">
                        <div class="tab-pane active" id="informations" role="tabpanel">
                            <table>
                                <tr>
                                    <th>Email</th>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>Dernière connexion</th>
                                    <th>Date d'inscription</th>
                                    <th>Super admin</th>
                                    <th>Staff</th>
                                </tr>
                                <tr>
                                    <th>{{ user.email }}</th>
                                    <th>{{ user.first_name }}</th>
                                    <th>{{ user.last_name }}</th>
                                    <th>{{ user.last_login }}</th>
                                    <th>{{ user.date_joined }}</th>
                                    <th>{{ user.is_superuser }}</th>
                                    <th>{{ user.is_staff }}</th>
                                </tr>
                            </table>
                        </div>

                        <div class="tab-pane" id="participation" role="tabpanel" aria-labelledby="history-tab">
                            <table class="table table-hover mt-5">
                                <thead>
                                <tr>
                                    <th scope="col">Titre</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Date réalisation</th>
                                    {% if date_now > fin_vote %}
                                        <th scope="col">Nombre de vote</th>
                                        <th scope="col">Place</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="table-light">
                                    <td>{{ participation.titre }}</td>
                                    <td>{{ participation.description }}</td>
                                    <td><img src="{% static 'images/participation/' %}{{ participation.image }}"
                                             style="max-width:10vw; max-height: 10vh"></td>
                                    <td>{{ participation.date_creation }}</td>
                                    {% if date_now > fin_vote %}
                                        <td>{{ participation.vote }}</td>
                                        <td>{{ participation.place_classement }}</td>
                                    {% endif %}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        $('#bologna-list a').on('click', function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script>
{% endblock %}
